body {
  margin: 30px 80px;
  width: auto;
}

h1 {
  color: grey;
  font-size: 40px;
  font-style: normal;
  margin-bottom: 10px; 
}

h2 {

  font-size: 20px;
  color:rgb(90, 90, 90);
}

p {
  font-family: serif;
  font-size: 13px;
  color: grey;
  line-height: 1.5;
  width: 960px;
}

.date {
  color: rgb(42,124,187);
  margin-bottom: 0px;
}

.readMore {
  color: rgb(42,124,187);
}

.press{
  border: 5px solid rgb(197, 197, 197);
}

footer {
  font-family: san-serif;
  color: grey;
  font-size: 13px;
}
.part1 {
  margin-top: 0px;
}