$test: red;

.weak {
  color: $test;
}
.better {
  color: rgb(255, 140, 0);
}

.good {
  color: rgb(172, 172, 8)
}

.nice {
  color: rgb(32, 186, 32);
}

.strong {
  color: rgb(1, 96, 1);
}

.solid {
  color: rgb(0, 55, 0);
}

span {
  display: block;
}