<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MooGo</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <a href="/"><img src="http://wfarm2.dataknet.com/static/resources/icons/set52/ad752e7d.png" alt="" style="height: 50px; width: 50px;"></a>
  
  <a href="/"><h1>MooGo</h1></a>
  <form action="/search_results">
    <input type="text" name="movie_name" placeholder="movie name keywords...">
    <button>Search</button>
  </form>


  <%= yield %>

</body>
</html>