<h1>Movie Lookup</h1>

<form action="/movie">
  <input type="text" name="movie_name" placeholder="movie name">
  <button >Search</button>
</form>

<form action="/search_history">
  <button>Show history</button>
</form>