<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie DB</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
  </nav>

  <%= yield %>

</body>
</html>